.holder-media {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
}

div#popup-app {
  z-index: 99999999999999999;
  position: relative;
  transition: .3s ease-in;
  transform: scale(0.7) translateY(50px);
  transform-origin: center;
  opacity:0;
}

div#popup-app.show {
  transform: scale(1) translateY(0px);
  transform-origin: center;
  opacity:1;
}

.holder-controls {
  background: black;
  color: white;
  padding: 20px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999999999;
  opacity:0;
  transition: .2s cubic-bezier(0.8, 0, 0.28, 1.04);
}

.holder-controls.show {
  opacity:1
}
.holder-media>* {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}